<!DOCTYPE html>
<html>
  <head>
    <title>TinyJenn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render 'shared/nav' %> 
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
